@import "tailwindcss";

:root {
  --background: #fdf9f4;
  --foreground: #1c1c19;
  --primary: #9f3f1a;
  --primary-container: #bf5730;
  --surface: #fdf9f4;
  --surface-dim: #ddd9d5;
  --surface-variant: #e6e2dd;
  --on-surface: #1c1c19;
  --on-surface-variant: #56423b;
  --outline: #8a726a;
  --outline-variant: #ddc0b7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-container: var(--primary-container);
  --color-surface: var(--surface);
  --color-surface-dim: var(--surface-dim);
  --color-surface-variant: var(--surface-variant);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);
  --font-sans: var(--font-chivo);
  --font-mono: var(--font-courier);
}

body {
  background: var(--background);
  color: var(--foreground);
}
